#puplogin , #pupregister{
    background-color: rgba(58, 58, 58, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
   display: none;
}

#FormAccessLogin{
    position: absolute;
    border: 5px rgb(241, 148, 8) solid;
    background-color: rgb(236, 176, 10);
    left: 50px;
    height: 50%;
    width: 30%;
    left: 35%;
    top: 20%;
}

#FormAccessRegist{
    position: absolute;
    border: 5px rgb(241, 148, 8) solid;
    background-color: rgb(236, 176, 10);
    left: 50px;
    height: 70%;
    width: 30%;
    left: 35%;
    top: 20%;
}
.spanform{
    position: relative;
    top: 5%;
    width: 100%;
    height: 7%;
    font-size: 1.5vw;
    font-weight: bold;
    display:block;
    text-align:Center;
}


.inputform{
    background-color: rgb(219, 219, 219);
    position: relative;
    top: 5%;
    left: 12.5%;
    font-size: 1.5vw;
    width:  75%;
    height: 7%;
    display:block;
    text-align:Center;
}


#FormAccessLoginButton{

    position: absolute;   
    font-size: 1vw;
    top: 70%;
    left: 30%;
    height: 15%;
    width: 40%;
    cursor: pointer;
    height: 50px;

}


#FormAccessLoginRegistpopup{
    position: absolute;   
    font-size: 1vw;
    top: 90%;
    left: 42.5%;
    height: 10%;
    width: 15%;
    cursor: pointer;
   
}

           

#FormAccessRegistButton{
   position: absolute;   
    font-size: 1vw;
    top: 78%;
    left: 30%;
    height: 10%;
    width: 40%;
    cursor: pointer;
}

#FormAccessRegistLoginpopup{
    position: absolute;   
    font-size: 1vw;
    top: 90%;
    left: 42.5%;
    height: 7%;
    width: 15%;
    cursor: pointer;
}




#closexlogin , #closexregister{
    position: absolute;
    z-index: 1;
    top: -25px;
    right: 0%;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
}



#clarificazionelogin{
    top: -0.5%;
    font-size: 2vw;

}

#clarificazioneregist{
    top: -0.5%;
    font-size: 2vw;
}